* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(242, 242, 252);
    margin: 0 auto;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

header {
    padding: 20px;
    background-color: rgb(49, 52, 68);
    display: flex;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    padding: 5px;
    color: rgb(49, 52, 68);
    background-color: rgb(146, 204, 205); 
    line-height: 100%;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    line-height: 35px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    color: rgb(146, 204, 205);
}

header nav ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    padding: 5px 10px 10px 10px;
    margin-left: 5vh;
    font-size: 30px;
    color: rgb(49, 52, 68);
    text-underline-offset: 1vh;
}

a {
    color: rgb(146, 204, 205);
}

a:hover {
    color: rgb(155, 22, 155);
    transition: all .1s ease-in-out;
}

/* To create the dark blue and light blue striped banner, I started with a black and white striped image available online and created a url value to add the image, as well as an rgba color to overlay on top of the image (this is achieved with the backgound-blend-mode of overlay). I used the alpha of 0.347 to set an opacity that lead to a similar level of color as the banner in the mock-up image. I also remembered a helpful way to identify the rgb values of a color with the color picker tool in Microsoft Paint. */
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: end;
    height: 300px;
    width: 100%;
    margin-bottom: 4vh;
    background: url("images/banner-image.png") rgba(45, 182, 223, 0.347);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}

.banner h2 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
    padding: 20px;
    color: rgb(49, 52, 68);
    background-color: rgb(146, 204, 205);
    font-size: 25px;
    line-height: 30px;
    max-width: 600px;
    justify-content: end;
}

/* I used a class "flex-content" on the box containing the About Me, Work, and Contact Me content in order to cause the children to behave as flex items. Flexbox is a way to cause elements to appear in rows (or columns) and wrap at the end of a line, without being held to the default inline or block display that different elements would have.  */
.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* For the below styling, which is applied on the section element marked with the "about-me" id, I used a width of 80% in order to divide the available viewport width between the About Me paragraphs and the photo of myself which appears to their right. */
#about-me {
    display: flex;
    flex-direction: row;
    width: 80%;
}

/* I used the border-right property, along with a margin-left, in order to create a vertical line just to the right of the About Me section title. */
#about-me-section-title {
    position: relative;
    font-size: 25px;
    padding: 5px;
    margin-left: 2vh;
    color: rgb(49, 52, 68);
    border-right: 5px solid rgb(49, 52, 68);
}

.about-me-paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4vh;
    margin-right: 0vh;
}

/* I created a div with the below class of "sara-hines-photo" to store the photo of myself and control the sizing and flow within the document. The width is set to 20% in order to divide the viewport width for the About Me paragraphs and the photo. */
.sara-hines-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}

/* For the actual photo of myself, I set a width of 100% so that the photo takes up all of the available width in the image element it is immediately located within. */
.sara-hines-photo img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto 0;
}

#work-section-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-size: 25px;
    margin-left: 34px;
    margin-top: 4vh;
    height: 180vh;
    border-right: 5px solid rgb(49, 52, 68);
}

#work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10vh;
}

/* For each of my project boxes, I set an rgba background color and background-blend-mode of overlay so that the image appears with a slightly dark overcast, which will be removed when the user hovers over the project box. */
#marketing-website {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    white-space:normal;
    word-wrap:break-word;
    background-image:url("images/marketing-website.png");
    background-size: cover;
    border: 20px;
    margin-top: -180vh;
    margin-left: 7.5vh;
    height: calc(100vh - 100px);
    width: 96%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(146, 204, 205);
    background-color: rgba(21, 54, 54, 0.2);
    background-blend-mode: overlay;
    text-decoration: none;
}

#marketing-website h3 {
    display: inline;
    position: relative;
    top: 70vh;
    font-size: 35px;
    background-color: rgb(146, 204, 205);
    color: rgb(49, 52, 68);
    width: 50vw;
    height: 15vh;
}

/* For each of my project boxes, I used a hover pseuodoclass, background-color, background-blend-mode, and transition property so that the box eases into a new styling when the user hovers. This new styling applies a brighter, mostly transparant, color overlay to the box. */
#marketing-website:hover {
    background-color: rgb(146, 204, 205, 0.1);
    background-blend-mode: overlay;
    transition: all .1s ease-in-out;
}

.row2 {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 7.5vh;
    width: 100%;
    margin-right: 10%;
    flex: 1;
    min-width: 0;
    min-height: 0;
    margin-bottom: 10vh;
}

#password {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image:url("images/password.jpg");
    background-size: cover;
    border: 20px;
    flex: 1;
    min-width: 0;
    min-height: 0;
    height: 50vh;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(146, 204, 205);
    box-sizing: border-box;
    background-color: rgba(21, 54, 54, 0.2);
    background-blend-mode: overlay;
}

#password h3 {
    display: inline;
    position: relative;
    top: 39.5vh;
    font-size: 30px;
    background-color: rgb(146, 204, 205);
    color: rgb(49, 52, 68);
    width: 50vw;
    height: 10vh;
}

#password:hover {
    background-color: rgb(146, 204, 205, 0.1);
    background-blend-mode: overlay;
    transition: all .1s ease-in-out;
  }

.break1 {
    height: 0;
    width: 4vh;
}

  #web-apis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    background-image:url("images/web-apis.png");
    background-size: cover;
    border: 20px;
    flex: 1;
    min-width: 0;
    min-height: 0;
    height: 50vh;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(146, 204, 205);
    box-sizing: border-box;
    background-color: rgba(21, 54, 54, 0.2);
    background-blend-mode: overlay;
}

#web-apis h3 {
    display: inline;
    position: relative;
    width: 50vw;
    height: 10vh;
    top: 39.5vh;
    font-size: 30px;
    background-color: rgb(146, 204, 205);
    color: rgb(49, 52, 68);
}

#web-apis:hover {
    background-color: rgb(146, 204, 205, 0.1);
    background-blend-mode: overlay;
    transition: all .1s ease-in-out;
}

.break2 {
    height: 0;
    width: 4.5vh;
}

.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7vh;
    margin-left: 7.5vh;
    width: 100%;
    margin-right: 10%;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

#third-party-apis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image:url("images/third-party-apis.png");
    background-size: cover;
    border: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(146, 204, 205);
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    min-height: 0;
    background-color: rgba(21, 54, 54, 0.2);
    background-blend-mode: overlay;
}

#third-party-apis h3 {
    display: inline;
    position: relative;
    width: 50vw;
    height: 10vh;
    top: 25vh;
    font-size: 30px;
    background-color: rgb(146, 204, 205);
    color: rgb(49, 52, 68);
}

#third-party-apis:hover {
    background-color: rgb(146, 204, 205, 0.3);
    background-blend-mode: overlay;
    transition: all .1s ease-in-out;
}

#server-side-apis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image:url("images/server-side-apis.jpg");
    background-size: cover;
    border: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(146, 204, 205);
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    min-height: 0;
    background-color: rgba(21, 54, 54, 0.2);
    background-blend-mode: overlay;
}

#server-side-apis h3 {
    display: inline;
    position: relative;
    top: 25vh;
    font-size: 30px;
    background-color: rgb(146, 204, 205);
    color: rgb(49, 52, 68);
    width: 50vw;
    height: 10vh;
    border-bottom-style: none;
}

#server-side-apis:hover {
    background-color: rgb(146, 204, 205, 0.3);
    background-blend-mode: overlay;
    transition: all .1s ease-in-out;
}

footer {
    color: rgb(49, 52, 68);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#contact-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(49, 52, 68);
    margin-top: 4vh;
    padding: 5px;
    position: relative;
}

#contact-me-section-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    color: rgb(49, 52, 68);
    border-right: 5px solid rgb(49, 52, 68);
    height: 50vh;
    position: relative;
}

ul.contact-links {
    width: 90%;
    position: relative;
}
    
li.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    justify-content: space-around;
    padding: 14px 40px;
    margin-left: 9vh;
    font-size: 20px;
    color: rgb(49, 52, 68);
    position: relative;
    text-underline-offset: 0.5vh;
}

footer a {
    color: rgb(49, 52, 68);
    display: inline;
    float: right;
    width: 100%; 
    font-size: 20px;
    margin-top: 4vh;
    padding: 5px;
    list-style-type: none;
    position: relative;
}

a:hover.contact-links {
    color: rgb(155, 22, 155);
    display: inline-block;
    transition: all .1s ease-in-out;
}